#wrapper {
    width: 600px; 
    margin: auto;
}
/* style awal menu dan untuk menghilangkan list style*/
#menu ul {
    font-family: Arial, verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*membuat menu menjadi horizontal dengan display block*/
#menu ul li  {
    display: block;
    position: relative;
    float: left;
}

/*untuk menyembunyikan ul li (submenu)*/
#menu li ul {
    display: none;
}

/*style awal sebelum cursor mouse diarahkan (menu utama)*/
#menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    background: black;
    margin-left: 1px;
    white-space: nowrap;
}

/*style setelah cursor diarahkan*/
#menu ul li a:hover {
    background: #666;
}

/*untuk memunculkan submenu jika pada sebuah menu utama ada tag il ul
(maksutnya ada tag ul ada dalam tag li)*/
#menu li:hover ul {
    display: block;
    position: absolute;
}

/* meratakan sub menu kanan kiri dan menghilangkan fungsi float left
(mengembalikan ke default)*/
#menu li:hover li {
    float: none;
    font-size: 11px;
}

/*style awal sebelum cursor mouse diarahkan (submenu)*/
#menu li:hover a {
    background: #666;
}

/*style setelah cursor diarahkan (submenu)*/
#menu li:hover li a:hover {
    background: #666;
}